openapi: 3.2.0
info:
  title: Alloplex Biotherapeutics Content Taxonomy API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind alloplexbio.com.
  description: The read-only content surface Alloplex Biotherapeutics exposes at https://alloplexbio.com/wp-json. Alloplex Biotherapeutics is a clinical-stage cellular immunotherapy company developing SUPLEXA, a non-engineered autologous multi-cellular therapy produced by its ENLIST cell-retraining platform; it runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-06. Write operations, `/wp/v2/users`, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/menu-items`, `/wp/v2/templates`, `/wp/v2/block-types`, `/wp/v2/font-families`, `/wp/v2/plugins`, `/wp/v2/themes`, `/wp/v2/widgets`, `/wp/v2/sidebars`, revisions, autosaves, the `mcp` namespace, the `wp-abilities/v1` namespace, the `wordfence/v1` namespace, the `rankmath/v1` namespace, the `post-duplicator/v1` namespace, the `wpe_sign_on_plugin/v1` namespace, the `wpe/cache-plugin/v1` namespace, the `wp-site-health/v1` namespace and `wp-block-editor/v1` all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Alloplex Biotherapeutics
    url: https://alloplexbio.com/contact/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://alloplexbio.com/wp-json/ (219 routes across the namespaces oembed/1.0, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1, post-duplicator/v1, MtphrPostDuplicatorSettings/v1, rankmath/v1, wordfence/v1, mcp, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-06. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. Alloplex Biotherapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
servers:
- url: https://alloplexbio.com/wp-json
  description: Production content API
tags:
- name: taxonomy
  description: Categories and tags. Categories holds 11 terms (company-news, clinical-news, scientific-news, research-news, conferences, media-coverage, opinion, backgrounder, diary-marker, audio-video, uncategorized); the tags taxonomy is registered but empty (0 terms).
paths:
  /wp/v2/categories:
    get:
      tags:
      - taxonomy
      operationId: listCategories
      summary: List categories
      description: Lists category terms — 11 at harvest time. These carry the site's entire editorial grouping, because the tags taxonomy is empty.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - $ref: '#/components/parameters/Fields'
      - name: orderby
        in: query
        description: Sort collection by term attribute.
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      - name: parent
        in: query
        description: Limit result set to terms assigned to a specific parent.
        schema:
          type: integer
      - name: post
        in: query
        description: Limit result set to terms assigned to a specific post.
        schema:
          type: integer
      responses:
        '200':
          description: A list of category terms
          headers:
            X-WP-Total:
              description: Total number of terms matching the query.
              schema:
                type: integer
                examples:
                - 11
            X-WP-TotalPages:
              description: Total number of result pages.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/categories/{id}:
    get:
      tags:
      - taxonomy
      operationId: getCategory
      summary: Get a category
      description: Retrieves a single category term by numeric id.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the term.
        schema:
          type: integer
          examples:
          - 11
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A category term
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Term'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/tags:
    get:
      tags:
      - taxonomy
      operationId: listTags
      summary: List tags
      description: Lists tag terms. Registered and reachable, but empty on this deployment (X-WP-Total 0) — Alloplex Biotherapeutics groups all editorial content by category instead.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - $ref: '#/components/parameters/Fields'
      - name: hide_empty
        in: query
        description: Whether to hide terms not assigned to any posts.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: A list of tag terms — empty on this deployment
          headers:
            X-WP-Total:
              description: Total number of terms matching the query.
              schema:
                type: integer
                examples:
                - 0
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
components:
  schemas:
    Term:
      type: object
      description: A taxonomy term (category or tag).
      properties:
        id:
          type: integer
          examples:
          - 11
        count:
          type: integer
          description: Number of published posts for the term.
          examples:
          - 11
        description:
          type: string
        link:
          type: string
          format: uri
        name:
          type: string
          examples:
          - Clinical news
        slug:
          type: string
          examples:
          - clinical-news
        taxonomy:
          type: string
          enum:
          - category
          - post_tag
        parent:
          type: integer
          description: The parent term id. Categories only.
        meta:
          type: object
          additionalProperties: true
        _links:
          $ref: '#/components/schemas/Links'
      required:
      - id
      - name
      - slug
      - taxonomy
    Links:
      type: object
      description: HAL-style hypermedia links. Every collection and item response carries these.
      additionalProperties:
        type: array
        items:
          type: object
          properties:
            href:
              type: string
              format: uri
            embeddable:
              type: boolean
            name:
              type: string
            templated:
              type: boolean
            taxonomy:
              type: string
            targetHints:
              type: object
              additionalProperties: true
    Error:
      type: object
      description: The WordPress REST error envelope. This is NOT RFC 9457 problem+json — it is a bespoke object served as application/json, with the HTTP status duplicated inside `data.status`.
      properties:
        code:
          type: string
          description: A machine-readable error code.
          examples:
          - rest_post_invalid_id
          - rest_forbidden
        message:
          type: string
          description: A human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code, repeated inside the body.
              examples:
              - 404
          additionalProperties: true
      required:
      - code
      - message
  parameters:
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in result set.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in response. Anonymous callers may use `view` and `embed` only.
      schema:
        type: string
        enum:
        - view
        - embed
        default: view
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Fields:
      name: _fields
      in: query
      description: Limit the response to specific top-level fields. A WordPress-wide sparse-fieldset control — the single most effective way to reduce payload size on this API.
      schema:
        type: array
        items:
          type: string
        examples:
        - - id
          - slug
          - title
          - link
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific ids.
      schema:
        type: array
        items:
          type: integer
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    Slug:
      name: slug
      in: query
      description: Limit result set to items with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    Include:
      name: include
      in: query
      description: Limit result set to specific ids.
      schema:
        type: array
        items:
          type: integer
  responses:
    BadRequest:
      description: Invalid parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
