openapi: 3.2.0
info:
  title: Alloplex Biotherapeutics Content Posts API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind alloplexbio.com.
  description: The read-only content surface Alloplex Biotherapeutics exposes at https://alloplexbio.com/wp-json. Alloplex Biotherapeutics is a clinical-stage cellular immunotherapy company developing SUPLEXA, a non-engineered autologous multi-cellular therapy produced by its ENLIST cell-retraining platform; it runs no developer program and markets no product API. This document is an API Evangelist derivation of the WordPress `wp/v2` and `oembed/1.0` route index the site publishes at /wp-json/, restricted to the operations that were verified to return data anonymously on 2026-08-06. Write operations, `/wp/v2/users`, `/wp/v2/settings`, `/wp/v2/menus`, `/wp/v2/menu-items`, `/wp/v2/templates`, `/wp/v2/block-types`, `/wp/v2/font-families`, `/wp/v2/plugins`, `/wp/v2/themes`, `/wp/v2/widgets`, `/wp/v2/sidebars`, revisions, autosaves, the `mcp` namespace, the `wp-abilities/v1` namespace, the `wordfence/v1` namespace, the `rankmath/v1` namespace, the `post-duplicator/v1` namespace, the `wpe_sign_on_plugin/v1` namespace, the `wpe/cache-plugin/v1` namespace, the `wp-site-health/v1` namespace and `wp-block-editor/v1` all require authentication and are deliberately excluded — see x-api-evangelist-provenance.
  contact:
    name: Alloplex Biotherapeutics
    url: https://alloplexbio.com/contact/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://alloplexbio.com/wp-json/ (219 routes across the namespaces oembed/1.0, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1, post-duplicator/v1, MtphrPostDuplicatorSettings/v1, rankmath/v1, wordfence/v1, mcp, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-06. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. Alloplex Biotherapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
servers:
- url: https://alloplexbio.com/wp-json
  description: Production content API
tags:
- name: posts
  description: Press releases, scientific and clinical news, conference notes and opinion pieces (61 published at harvest time). Unlike many corporate WordPress deployments, content.rendered and excerpt.rendered are fully populated here.
paths:
  /wp/v2/posts:
    get:
      tags:
      - posts
      operationId: listPosts
      summary: List posts
      description: Lists published posts — 61 at harvest time, spanning FDA designations, clinical and scientific news, conference appearances, media coverage and opinion pieces. Total count and page count are returned in the X-WP-Total and X-WP-TotalPages headers.
      parameters:
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/After'
      - $ref: '#/components/parameters/Before'
      - $ref: '#/components/parameters/ModifiedAfter'
      - $ref: '#/components/parameters/ModifiedBefore'
      - $ref: '#/components/parameters/Exclude'
      - $ref: '#/components/parameters/Include'
      - $ref: '#/components/parameters/Offset'
      - $ref: '#/components/parameters/Order'
      - $ref: '#/components/parameters/Slug'
      - $ref: '#/components/parameters/Fields'
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
      - name: categories
        in: query
        description: Limit result set to items with specific category terms.
        schema:
          type: array
          items:
            type: integer
          examples:
          - - 6
      - name: categories_exclude
        in: query
        description: Limit result set to items except those with specific category terms.
        schema:
          type: array
          items:
            type: integer
      - name: tags
        in: query
        description: Limit result set to items with specific tag terms. No effect on this deployment — the tags taxonomy is empty.
        schema:
          type: array
          items:
            type: integer
      - name: sticky
        in: query
        description: Limit result set to items that are sticky.
        schema:
          type: boolean
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses. Anonymous callers may only request `publish`.
        schema:
          type: array
          items:
            type: string
            enum:
            - publish
          default:
          - publish
      responses:
        '200':
          description: A list of posts
          headers:
            X-WP-Total:
              description: Total number of posts matching the query.
              schema:
                type: integer
                examples:
                - 61
            X-WP-TotalPages:
              description: Total number of result pages.
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/BadRequest'
  /wp/v2/posts/{id}:
    get:
      tags:
      - posts
      operationId: getPost
      summary: Get a post
      description: Retrieves a single published post by numeric id.
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the post.
        schema:
          type: integer
          examples:
          - 910
      - $ref: '#/components/parameters/Context'
      - $ref: '#/components/parameters/Password'
      - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Search:
      name: search
      in: query
      description: Limit results to those matching a string.
      schema:
        type: string
    Password:
      name: password
      in: query
      description: The password for the post if it is password protected.
      schema:
        type: string
    ModifiedBefore:
      name: modified_before
      in: query
      description: Limit response to posts modified before a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    Fields:
      name: _fields
      in: query
      description: Limit the response to specific top-level fields. A WordPress-wide sparse-fieldset control — the single most effective way to reduce payload size on this API.
      schema:
        type: array
        items:
          type: string
        examples:
        - - id
          - slug
          - title
          - link
    After:
      name: after
      in: query
      description: Limit response to posts published after a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    Offset:
      name: offset
      in: query
      description: Offset the result set by a specific number of items.
      schema:
        type: integer
    ModifiedAfter:
      name: modified_after
      in: query
      description: Limit response to posts modified after a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    Page:
      name: page
      in: query
      description: Current page of the collection.
      schema:
        type: integer
        minimum: 1
        default: 1
    Before:
      name: before
      in: query
      description: Limit response to posts published before a given ISO8601 compliant date.
      schema:
        type: string
        format: date-time
    PerPage:
      name: per_page
      in: query
      description: Maximum number of items to be returned in result set.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in response. Anonymous callers may use `view` and `embed` only.
      schema:
        type: string
        enum:
        - view
        - embed
        default: view
    Exclude:
      name: exclude
      in: query
      description: Ensure result set excludes specific ids.
      schema:
        type: array
        items:
          type: integer
    Order:
      name: order
      in: query
      description: Order sort attribute ascending or descending.
      schema:
        type: string
        enum:
        - asc
        - desc
        default: desc
    Slug:
      name: slug
      in: query
      description: Limit result set to items with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    Include:
      name: include
      in: query
      description: Limit result set to specific ids.
      schema:
        type: array
        items:
          type: integer
  schemas:
    Links:
      type: object
      description: HAL-style hypermedia links. Every collection and item response carries these.
      additionalProperties:
        type: array
        items:
          type: object
          properties:
            href:
              type: string
              format: uri
            embeddable:
              type: boolean
            name:
              type: string
            templated:
              type: boolean
            taxonomy:
              type: string
            targetHints:
              type: object
              additionalProperties: true
    RenderedText:
      type: object
      description: A rendered-HTML text field.
      properties:
        rendered:
          type: string
          description: HTML for the field, transformed for display.
        protected:
          type: boolean
          description: Whether the field is protected with a password.
      required:
      - rendered
    Post:
      type: object
      description: A published post — a press release, clinical or scientific news item, conference note, media-coverage entry or opinion piece.
      properties:
        id:
          type: integer
          description: Unique identifier for the post.
          examples:
          - 910
        date:
          type:
          - string
          - 'null'
          format: date-time
          description: The date the post was published
          in the site's timezone.: null
        date_gmt:
          type:
          - string
          - 'null'
          format: date-time
          description: The date the post was published
          as GMT.: null
        guid:
          $ref: '#/components/schemas/RenderedText'
        modified:
          type: string
          format: date-time
          description: The date the post was last modified
          in the site's timezone.: null
        modified_gmt:
          type: string
          format: date-time
          description: The date the post was last modified
          as GMT.: null
        slug:
          type: string
          description: An alphanumeric identifier for the post unique to its type.
        status:
          type: string
          description: A named status for the post.
          examples:
          - publish
        type:
          type: string
          description: Type of post.
          examples:
          - post
        link:
          type: string
          format: uri
          description: URL to the post.
        title:
          $ref: '#/components/schemas/RenderedText'
        content:
          allOf:
          - $ref: '#/components/schemas/RenderedText'
          description: The post body. Fully populated on this deployment.
        excerpt:
          allOf:
          - $ref: '#/components/schemas/RenderedText'
          description: The post excerpt. Fully populated on this deployment.
        author:
          type: integer
          description: The id for the author of the post.
        featured_media:
          type: integer
          description: The id of the featured media for the post.
        comment_status:
          type: string
          enum:
          - open
          - closed
          description: Whether comments are open. Closed site-wide on this deployment.
        ping_status:
          type: string
          enum:
          - open
          - closed
        sticky:
          type: boolean
          description: Whether the post should be treated as sticky.
        template:
          type: string
          description: The theme file to use to display the post.
        format:
          type: string
          description: The format for the post.
        meta:
          type: object
          description: Registered post meta fields exposed to REST.
          additionalProperties: true
        categories:
          type: array
          description: The terms assigned to the post in the category taxonomy.
          items:
            type: integer
          examples:
          - - 5
            - 11
        tags:
          type: array
          description: The terms assigned to the post in the post_tag taxonomy. Always empty on this deployment.
          items:
            type: integer
        acf:
          description: Advanced Custom Fields payload. An empty array on this deployment's posts.
          type:
          - object
          - array
        class_list:
          type: array
          description: An array of the class names for the post container element.
          items:
            type: string
        _links:
          $ref: '#/components/schemas/Links'
      required:
      - id
      - slug
      - type
      - link
      - title
    Error:
      type: object
      description: The WordPress REST error envelope. This is NOT RFC 9457 problem+json — it is a bespoke object served as application/json, with the HTTP status duplicated inside `data.status`.
      properties:
        code:
          type: string
          description: A machine-readable error code.
          examples:
          - rest_post_invalid_id
          - rest_forbidden
        message:
          type: string
          description: A human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code, repeated inside the body.
              examples:
              - 404
          additionalProperties: true
      required:
      - code
      - message
  responses:
    BadRequest:
      description: Invalid parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
