openapi: 3.2.0
info:
  title: Alloplex Biotherapeutics Content Oembed API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind alloplexbio.com.
  description: The read-only content surface Alloplex Biotherapeutics exposes at https://alloplexbio.com/wp-json.
  contact:
    name: Alloplex Biotherapeutics
    url: https://alloplexbio.com/contact/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://alloplexbio.com/wp-json/ (219 routes across the namespaces oembed/1.0, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1, post-duplicator/v1, MtphrPostDuplicatorSettings/v1, rankmath/v1, wordfence/v1, mcp, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-06. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. Alloplex Biotherapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
servers:
- url: https://alloplexbio.com/wp-json
  description: Production content API
tags:
- name: o Embed
  description: oEmbed 1.0 provider endpoint for alloplexbio.com URLs.
paths:
  /oembed/1.0/embed:
    get:
      tags:
      - o Embed
      operationId: getOembed
      summary: Get an oEmbed response for an alloplexbio.com URL
      description: The oEmbed 1.0 provider endpoint. Returns embed metadata (title, author, provider, HTML iframe) for any published alloplexbio.com URL.
      parameters:
      - name: url
        in: query
        required: true
        description: The URL of the resource for which to fetch oEmbed data.
        schema:
          type: string
          format: uri
          examples:
          - https://alloplexbio.com/about/
      - name: format
        in: query
        description: The oEmbed format to use.
        schema:
          type: string
          enum:
          - json
          - xml
          default: json
      - name: maxwidth
        in: query
        description: The maximum width of the embed frame in pixels.
        schema:
          type: integer
          default: 600
      responses:
        '200':
          description: An oEmbed response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OembedResponse'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    OembedResponse:
      type: object
      description: An oEmbed 1.0 rich response.
      properties:
        version:
          type: string
          examples:
          - '1.0'
        provider_name:
          type: string
          examples:
          - Alloplex Biotherapeutics
        provider_url:
          type: string
          format: uri
        author_name:
          type: string
        author_url:
          type: string
          format: uri
        title:
          type: string
        type:
          type: string
          examples:
          - rich
        width:
          type: integer
        height:
          type:
          - integer
          - 'null'
        html:
          type: string
          description: The HTML iframe markup for embedding.
      required:
      - version
      - type
    Error:
      type: object
      description: The WordPress REST error envelope. This is NOT RFC 9457 problem+json — it is a bespoke object served as application/json, with the HTTP status duplicated inside `data.status`.
      properties:
        code:
          type: string
          description: A machine-readable error code.
          examples:
          - rest_post_invalid_id
          - rest_forbidden
        message:
          type: string
          description: A human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code, repeated inside the body.
              examples:
              - 404
          additionalProperties: true
      required:
      - code
      - message
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
