openapi: 3.2.0
info:
  title: Alloplex Biotherapeutics Content Discovery API
  version: wp/v2
  summary: Anonymously readable WordPress REST content API behind alloplexbio.com.
  description: The read-only content surface Alloplex Biotherapeutics exposes at https://alloplexbio.com/wp-json.
  contact:
    name: Alloplex Biotherapeutics
    url: https://alloplexbio.com/contact/
  x-api-evangelist-provenance: Derived by the API Evangelist enrichment pipeline from the live WordPress REST route index at https://alloplexbio.com/wp-json/ (219 routes across the namespaces oembed/1.0, wpe/cache-plugin/v1, wpe_sign_on_plugin/v1, post-duplicator/v1, MtphrPostDuplicatorSettings/v1, rankmath/v1, wordfence/v1, mcp, wp/v2, wp-site-health/v1, wp-block-editor/v1 and wp-abilities/v1) and verified against live anonymous responses on 2026-08-06. Every parameter below appears verbatim in the route index `args` for that endpoint, and every operation modelled here returned 200 without credentials. Alloplex Biotherapeutics publishes no OpenAPI, no developer documentation and no API reference for this surface; the humanURL in apis.yml points at the upstream WordPress REST handbook that defines the wp/v2 contract. Nothing here was obtained with credentials.
servers:
- url: https://alloplexbio.com/wp-json
  description: Production content API
tags:
- name: Discovery
  description: Route, type, taxonomy and status discovery documents.
paths:
  /:
    get:
      tags:
      - Discovery
      operationId: getApiIndex
      summary: Get the REST API index
      description: Returns the site index — name, description, URL, home, timezone, the registered namespaces, the authentication methods offered, and the full route table (219 routes on this deployment).
      parameters:
      - $ref: '#/components/parameters/Context'
      - name: namespace
        in: query
        description: Restrict the response to a single namespace.
        schema:
          type: string
          examples:
          - wp/v2
      responses:
        '200':
          description: Site index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndex'
  /wp/v2:
    get:
      tags:
      - Discovery
      operationId: getCoreNamespaceIndex
      summary: Get the wp/v2 namespace index
      description: Returns the route table for the WordPress core `wp/v2` namespace only.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: Namespace index
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiIndex'
  /wp/v2/types:
    get:
      tags:
      - Discovery
      operationId: listTypes
      summary: List post types
      description: Lists the registered post types visible to the REST API — 12 on this deployment. Note that the four custom post types the site's sitemaps expose (publication, team_member, conference, resource) are NOT REST-registered and do not appear here.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A map of post types keyed by type slug
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/PostType'
  /wp/v2/types/{type}:
    get:
      tags:
      - Discovery
      operationId: getType
      summary: Get a post type
      description: Retrieves a single registered post type by slug.
      parameters:
      - name: type
        in: path
        required: true
        description: An alphanumeric identifier for the post type.
        schema:
          type: string
          examples:
          - post
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A post type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostType'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/taxonomies:
    get:
      tags:
      - Discovery
      operationId: listTaxonomies
      summary: List taxonomies
      description: Lists the registered taxonomies — category, post_tag, nav_menu and wp_pattern_category on this deployment.
      parameters:
      - $ref: '#/components/parameters/Context'
      - name: type
        in: query
        description: Limit results to taxonomies associated with a specific post type.
        schema:
          type: string
      responses:
        '200':
          description: A map of taxonomies keyed by taxonomy slug
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/Taxonomy'
  /wp/v2/taxonomies/{taxonomy}:
    get:
      tags:
      - Discovery
      operationId: getTaxonomy
      summary: Get a taxonomy
      description: Retrieves a single registered taxonomy by slug.
      parameters:
      - name: taxonomy
        in: path
        required: true
        description: An alphanumeric identifier for the taxonomy.
        schema:
          type: string
          examples:
          - category
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A taxonomy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Taxonomy'
        '404':
          $ref: '#/components/responses/NotFound'
  /wp/v2/statuses:
    get:
      tags:
      - Discovery
      operationId: listStatuses
      summary: List post statuses
      description: Lists the post statuses visible to the caller. Anonymously this returns `publish` and `acf-disabled` on this deployment.
      parameters:
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A map of statuses keyed by status slug
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  $ref: '#/components/schemas/PostStatus'
  /wp/v2/statuses/{status}:
    get:
      tags:
      - Discovery
      operationId: getStatus
      summary: Get a post status
      description: Retrieves a single post status by slug.
      parameters:
      - name: status
        in: path
        required: true
        description: An alphanumeric identifier for the status.
        schema:
          type: string
          examples:
          - publish
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: A post status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostStatus'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    PostStatus:
      type: object
      description: A registered post status.
      properties:
        name:
          type: string
          examples:
          - Published
        slug:
          type: string
          examples:
          - publish
        public:
          type: boolean
        queryable:
          type: boolean
        date_floating:
          type: boolean
        _links:
          $ref: '#/components/schemas/Links'
      required:
      - name
      - slug
    ApiIndex:
      type: object
      description: The REST API discovery index.
      properties:
        name:
          type: string
          examples:
          - Alloplex Biotherapeutics
        description:
          type: string
        url:
          type: string
          format: uri
        home:
          type: string
          format: uri
        gmt_offset:
          type:
          - number
          - string
        timezone_string:
          type: string
          examples:
          - America/New_York
        namespaces:
          type: array
          description: The registered REST namespaces.
          items:
            type: string
        authentication:
          type:
          - object
          - array
          description: Authentication methods the site advertises. An EMPTY array on this deployment.
        routes:
          type: object
          description: The full route table, keyed by route pattern.
          additionalProperties: true
        _links:
          $ref: '#/components/schemas/Links'
    Taxonomy:
      type: object
      description: A registered taxonomy.
      properties:
        name:
          type: string
          examples:
          - Categories
        slug:
          type: string
          examples:
          - category
        description:
          type: string
        hierarchical:
          type: boolean
        types:
          type: array
          description: Types associated with the taxonomy.
          items:
            type: string
          examples:
          - - post
        rest_base:
          type: string
          examples:
          - categories
        rest_namespace:
          type: string
          examples:
          - wp/v2
        visibility:
          type: object
          additionalProperties: true
        _links:
          $ref: '#/components/schemas/Links'
      required:
      - name
      - slug
      - rest_base
    Error:
      type: object
      description: The WordPress REST error envelope. This is NOT RFC 9457 problem+json — it is a bespoke object served as application/json, with the HTTP status duplicated inside `data.status`.
      properties:
        code:
          type: string
          description: A machine-readable error code.
          examples:
          - rest_post_invalid_id
          - rest_forbidden
        message:
          type: string
          description: A human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: The HTTP status code, repeated inside the body.
              examples:
              - 404
          additionalProperties: true
      required:
      - code
      - message
    Links:
      type: object
      description: HAL-style hypermedia links. Every collection and item response carries these.
      additionalProperties:
        type: array
        items:
          type: object
          properties:
            href:
              type: string
              format: uri
            embeddable:
              type: boolean
            name:
              type: string
            templated:
              type: boolean
            taxonomy:
              type: string
            targetHints:
              type: object
              additionalProperties: true
    PostType:
      type: object
      description: A registered post type.
      properties:
        capabilities:
          type: object
          additionalProperties: true
        description:
          type: string
        hierarchical:
          type: boolean
        viewable:
          type: boolean
        name:
          type: string
          description: The title for the post type.
          examples:
          - Posts
        slug:
          type: string
          examples:
          - post
        icon:
          type:
          - string
          - 'null'
        taxonomies:
          type: array
          description: Taxonomies associated with the post type.
          items:
            type: string
          examples:
          - - category
            - post_tag
        rest_base:
          type: string
          description: REST base route for the post type.
          examples:
          - posts
        rest_namespace:
          type: string
          examples:
          - wp/v2
        supports:
          type: object
          additionalProperties: true
        _links:
          $ref: '#/components/schemas/Links'
      required:
      - name
      - slug
      - rest_base
  responses:
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    Context:
      name: context
      in: query
      description: Scope under which the request is made; determines fields present in response. Anonymous callers may use `view` and `embed` only.
      schema:
        type: string
        enum:
        - view
        - embed
        default: view
